{% set title = 'All Info' %}
{% set resourceName = 'all-info' %}
{% extends 'layouts/layout.njk' %}
{% block body %}
{% include 'partials/_update-check.njk' %}
<div class="spacerDiv"></div>
{% include 'partials/_unknown-titles.njk' %}
{% endblock %}
