{% set title = 'Update Check' %}
{% set resourceName = 'update-check' %}
{% extends 'layouts/layout.njk' %}
{% block body %}
<table class="mainTable">
  <tbody>
    <tr>
      <th>State</th>
      <td class="state {{ state }}">{{ state }}</td>
    </tr>
    {% if start %}
      <tr>
        <th>Start</th>
        <td>{{ start }}</td>
      </tr>
    {% endif %}
    {% if end %}
      <tr>
        <th>End</th>
        <td>{{ end }}</td>
      </tr>
    {% endif %}
    {% if duration %}
      <tr>
        <th>Duration</th>
        <td>{{ duration }}</td>
      </tr>
    {% endif %}
    {% if count !== undefined %}
      <tr>
        <th>Count</th>
        <td>{{ count }}</td>
      </tr>
    {% endif %}
    {% if lastUserFetch %}
      <tr>
        <th>Last User Fetch</th>
        <td>{{ lastUserFetch }}</td>
      </tr>
    {% endif %}
    {% if updatesSinceLastFetch %}
      <tr>
        <th>Updates Since Last Fetch</th>
        <td>
          <b>Count:</b> {{ updatesSinceLastFetch | length }}<br>
          {% if updatesSinceLastFetch | length > 0 %}
            <table class="userUpdatesTable">
              <tbody>
                {% for manga in updatesSinceLastFetch %}
                  <tr>
                    <td class="time-ago">({{ manga.lastUpdateAgo }} ago)</td>
                    <td class="link-cell"><a href="https://mangadex.org/title/{{ manga.id }}" target="_blank">{{ manga.title | default(manga.id, true) }}</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}
