@import './update-check.scss';
@import './unknown-titles.scss';

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spacerDiv {
  height: 0.5em;
  overflow: hidden;
  margin: 4em 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #333 50%, rgba(255, 255, 255, 0));
}

@media (prefers-color-scheme: dark) {
  .spacerDiv {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), #fff 50%, rgba(0, 0, 0, 0));
  }
}
