body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

body, html {
  background-color: #fff;
}

.mainTable {
  border-collapse: collapse;
  border-spacing: 0;
  
  tbody {
    th, td {
      text-align: left;
      font-size: 1.8em;
      border: 1px solid #999;
      padding: 10px;

      a {
        color: blue;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  body, html {
    background-color: #181A1F;
  }

  .mainTable {
    tbody {
      th, td {
        border-color: #666;
        color: #fff;

        a {
          color: orange;
        }
      }
    }
  }
}
