body, html {
  background-color: #fff;
}

.mainTable {
  margin: 20px auto;
  border-collapse: collapse;
  border-spacing: 0;
  
  tbody {
    th, td {
      text-align: left;
      font-size: 1.8em;
      border: 2px solid #aaa;
      padding: 20px;

      a {
        color: blue;
      }

      ul {
        li {
          line-height: 1.2em;
        }
      }
    }
  }
}

.state {
  &.no-user, &.error, &.failed {
    color: red;
  }

  &.completed {
    color: green;
  }

  &.running {
    color: blue;
  }

  &.unknown, &.unknown-result {
    color: #888;
  }

  &.no-series {
    color: darkgoldenrod;
  }
}

@media (prefers-color-scheme: dark) {
  body, html {
    background-color: #181A1F;
  }

  .mainTable {
    tbody {
      th, td {
        border-color: #888;
        color: #ddd;

        a {
          color: orange;
        }
      }
    }
  }

  .state {
    &.unknown, &.unknown-result {
      color: #ccc;
    }

    &.no-series {
      color: goldenrod;
    }
  }
}
